<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>多组显示tableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C123B0D1DB7D13E001821A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C123B261DB7D13F001821A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C123B311DB7D13F001821A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
